body {
    font-family: Arial, sans-serif;
    background-color: #4e2121;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color:rgb(183, 120, 120);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  button {
    background-color:rgb(141, 147, 131);
    color:rgb(67, 50, 52);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #response {
    margin-top: 20px;
    font-weight: bold;
  }
  